@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --color-purple-50: #f5eaff;
  --color-purple-100: #ebccff;
  --color-purple-200: #d699ff;
  --color-purple-300: #c266ff;
  --color-purple-400: #b833ff;
  --color-purple-500: #A100FF;
  --color-purple-600: #8a00db;
  --color-purple-700: #7300b7;
  --color-purple-800: #5c0093;
  --color-purple-900: #45006f;
  --color-purple-950: #2e004a;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3F4F6;
}

* {
  box-sizing: border-box;
}
